# Server Configuration
PORT=8080
APP_ENV=development

# Database Configuration (Supabase PostgreSQL)
# Anda bisa menggunakan connection string DATABASE_URL dari Supabase:
# Contoh: postgres://postgres.[project-ref]:[password]@aws-0-[region].pooler.supabase.com:6543/postgres?sslmode=require
DATABASE_URL=https://cexxxomiktkpnwxtowbp.supabase.co

# Atau menggunakan komponen parameter terpisah:
DB_HOST=
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=
DB_NAME=postgres
DB_SSLMODE=require

# Shopee Open Platform Configuration
SHOPEE_PARTNER_ID=
SHOPEE_PARTNER_KEY=
# Set true untuk Live Production (https://partner.shopeemobile.com), false untuk Test/Sandbox (https://partner.test-stable.shopeemobile.com)
SHOPEE_IS_PRODUCTION=false
# URL Callback backend Anda yang didaftarkan di Shopee Console
SHOPEE_REDIRECT_URL=http://localhost:8080/api/v1/shopee/callback
